* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  width: 365px;
  margin: 0;
}

h3 {
  display: inline;
  margin: 0;
  padding: 0;
}

h4 {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  list-style: none;
  text-align: left;
  padding-left: 0px;
  flex-wrap: wrap;
}

.section {
  max-width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

footer {
  background: #2f303a;
  padding: 0 0 77px 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

p {
  padding: 0;
  margin: 0;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__form {
  position: absolute;
  width: 370px;
  min-height: 609px;
  padding: 40px 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* checkbox */
  /* modal button */
}
.modal__form__box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal__form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  width: 100%;
}
.modal__form__label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  padding: 10px 0 4px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.modal__form__input {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form__input__box {
  width: 100%;
  position: relative;
}
.modal__form__input__box:focus-within svg {
  fill: #2196f3;
}
.modal__form__input__box:focus-within input {
  outline: #2196f3;
}
.modal__form__input__box:focus-within textarea {
  outline: #2196f3;
}
.modal__form__input:last-child {
  height: 120px;
}
.modal__form__input:not(:last-child) {
  padding-left: 42px;
}
.modal__form__input:hover, .modal__form__input:focus {
  border: 1px solid #2196f3;
}
.modal__form__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form__icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  z-index: 5;
  position: absolute;
  top: 11px;
  left: 12px;
}
.modal__form textarea {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
}
.modal__form__checkbox {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 25px 0;
}
.modal__form__checkbox__input {
  appearance: none;
}
.modal__form__checkbox__icon:first-child {
  width: 16px;
  height: 15px;
  fill: #212121;
}
.modal__form__checkbox__icon:last-child {
  width: 16px;
  height: 15px;
  fill: none;
}
.modal__form__checkbox__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__form__checkbox__label {
  cursor: pointer;
  display: flex;
}
.modal__form__checkbox__label span:first-child {
  position: relative;
  padding-right: 5px;
  width: 16px;
  height: 15px;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 300ms;
}
.modal__form__checkbox__label span:first-child > svg:first-child {
  position: absolute;
  fill: #212121;
}
.modal__form__checkbox__label span:first-child > svg:last-child {
  position: absolute;
  opacity: 0;
}
.modal__form__checkbox__label span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.modal__form__checkbox__label:hover span:first-child > svg {
  fill: #2196f3;
}
.modal__form__checkbox__input:checked + .modal__form__checkbox__label span:first-child > svg:first-child {
  fill: none;
}
.modal__form__checkbox__input:checked + .modal__form__checkbox__label span:first-child > svg:last-child {
  opacity: 100%;
}
.modal__form__checkbox__link {
  text-decoration: none;
  color: #2196f3;
  text-decoration: underline;
}
.modal__form__button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  justify-content: center;
  background-color: #2196f3;
}
.modal__form__button__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #ececec;
  text-align: center;
  justify-content: flex-start;
}
.header .container {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-left: 15px;
  padding: 24px 0 25px;
}
.header__logo__link {
  font-family: "Raleway", sans-serif;
  color: #757575;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  display: inline;
}
.header__logo__link span:first-child {
  color: #2196f3;
}
.header__nav {
  margin-left: 93px;
  padding: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 254px;
  height: 100%;
  letter-spacing: 0.02em;
}
.header__nav__link {
  display: inline-block;
  position: relative;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav__link span::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -33px;
}
.header__nav__link:last-child {
  padding-right: 0;
}
.header__nav__link:hover, .header__nav__link:focus {
  color: #2196f3;
}
.header__contact {
  margin-left: 345px;
  padding: 0;
  display: inline;
}
.header__contact:last-child {
  margin-left: 30px;
}
.header__contact__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-right: 50px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact__link:last-child {
  padding-right: 0;
}
.header__contact__icon {
  fill: #757575;
  height: 12px;
  width: 16px;
  left: 1052px;
  top: 34px;
  border-radius: 0px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact:hover .header__contact__icon {
  fill: #2196f3;
}
.header__contact:focus .header__contact__icon {
  fill: #2196f3;
}
.header__contact:hover .header__contact__link {
  color: #2196f3;
}
.header__contact:focus .header__contact__link {
  color: #2196f3;
}

.order {
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-header-background.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}
.order__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order__text {
  color: #ffffff;
  font-weight: 900;
  font-style: normal;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.order__button {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: #2196f3;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0;
}

.lorem-list__item {
  width: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lorem-list__header {
  font-weight: 700;
  font-size: 14px;
  padding: 30px 0 10px 0;
}
.lorem-list__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}
.lorem-list__icon {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.occupation {
  transform: scale(0);
  height: 0;
  margin: 0;
  padding: 0;
}
.occupation__header {
  font-weight: 700;
  font-size: 36px;
}
.occupation__list__item {
  width: 370px;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}
.occupation__list__label {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  background-color: #f5f4fa;
}
.team__header {
  font-weight: 700;
  font-size: 36px;
}
.team__list {
  width: 100%;
  margin: 15px;
}
.team__list__item {
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin: 0;
}
.team__description {
  display: flex;
  padding: 30px 0;
  margin: 0;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.team__position {
  color: #757575;
  font-size: 16px;
  padding: 10px 0 16px 0;
  margin: 0;
}
.team__picture {
  width: 100%;
}
.team__picture > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.team__socials {
  display: flex;
  justify-content: space-between;
  width: 206px;
}
.team__socials__link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: space-evenly;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__socials__link:hover {
  background-color: #2196f3;
}
.team__socials__link:hover > svg {
  fill: #ffffff;
}
.team__socials__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.clients__header {
  font-weight: 700;
  font-size: 36px;
}
.clients__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
.clients__list__item {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin: 15px;
  width: 210px;
  height: 92px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__list__item:hover {
  border: 1px solid #2196f3;
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover > svg {
  fill: #2196f3;
}
.clients__link:focus > svg {
  fill: #2196f3;
}

.footer {
  display: flex;
  background-color: #2f303a;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__logo {
  padding: 0;
  width: 100%;
}
.footer__logo__link {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.footer__logo__link span {
  color: #2196f3;
}
.footer__info {
  padding-top: 20px;
}
.footer__address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact:hover, .footer__contact:focus {
  color: #2196f3;
}
.footer__socials {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__socials__header {
  width: 100%;
}
.footer__socials__box {
  display: flex;
  justify-content: space-between;
  width: 206px;
  padding-top: 20px;
}
.footer__socials__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials__link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials__link:hover {
  background-color: #2196f3;
}
.footer__socials__link:hover > svg {
  fill: #ffffff;
}
.footer__socials__link:focus {
  background-color: #2196f3;
}
.footer__socials__link:focus > svg {
  fill: #ffffff;
}
.footer__newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  width: 100%;
}
.footer__newsletter__form {
  display: flex;
  width: 100%;
}
.footer__newsletter__label {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__newsletter__box {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__newsletter__input {
  color: #ffffff;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}
.footer__newsletter__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: #afb1b8;
}
.footer__newsletter__button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 20px auto;
}
.footer__newsletter__button__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-left: 42px;
}
.footer__newsletter__button__icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  padding-left: 24px;
}

.portfolio__filter-btn {
  color: #212121;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  border: 0;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filter-btn:hover, .portfolio__filter-btn:focus {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #2196f3;
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__project {
  width: 370px;
  margin: 0;
  padding: 15px;
}
.portfolio__project__overlay {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px 0 24px;
  background-color: #2196f3;
  height: 100%;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  transform: translateY(0%);
}
.portfolio__project__box {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
  margin: 0;
  padding: 0;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__project__box:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__project__box:hover .portfolio__project__overlay {
  transform: translateY(-100%);
}
.portfolio__project__image {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}
.portfolio__project__description {
  padding: 20px 24px;
}
.portfolio__project__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfolio__project__filter {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */