/* Global styles */

:root {
  --main-color-first: #212121;
  --main-color-second: #ffffff;
  --main-color-third: #000000;

  --brand-color-first: #2196f3;
  --brand-color-second: #2f303a;
  --brand-color-third: #757575;
  --brand-color-fourth: #f5f4fa;
  --brand-color-sixth: rgba(255, 255, 255, 0.6);
  --brand-color-seventh: #afb1b8;
  --brand-color-eighth: rgba(255, 255, 255, 0.1);
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-first);
  margin: 0;
  box-sizing: border-box;
}

h1 {
  width: 696px;
  margin: 0;
}

h3 {
  display: inline;
  margin: 0;
  padding: 0;
}

h4 {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  list-style: none;
  text-align: left;
  padding-left: 0px;
  flex-wrap: wrap;
}

.section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 200px;
}

/* index.html */

/* Header section */

.header-section {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #ececec;
  text-align: center;
  justify-content: flex-start;
}

.header-section > .container {
  display: flex;
  align-items: center;
}

.website-logo-header {
  margin-left: 15px;
  padding: 24px 0 25px;
}

.website-logo-header-link {
  font-family: "Raleway", sans-serif;
  color: var(--main-color-third);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  display: inline;
}

.navigation-section {
  margin-left: 93px;
  padding: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 254px;
  height: 100%;
  letter-spacing: 0.02em;
}

.navigation-link {
  display: inline-block;
  position: relative;
  color: var(--main-color-first);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link-underline::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--brand-color-first);
  border-radius: 2px;
  position: absolute;
  bottom: -33px;
}

.navigation-link:last-child {
  padding-right: 0;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--brand-color-first);
}

.contact-info-header {
  margin-left: 345px;
  padding: 0;
  display: inline;
}

.contact-info-header:last-child {
  margin-left: 30px;
}

.contact-info-header-link {
  color: var(--brand-color-third);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-right: 50px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info-header-link:last-child {
  padding-right: 0;
}

.header-icon {
  fill: var(--brand-color-third);
  height: 12px;
  width: 16px;
  left: 1052px;
  top: 34px;
  border-radius: 0px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info-header:hover .header-icon {
  fill: var(--brand-color-first);
}

.contact-info-header:focus .header-icon {
  fill: var(--brand-color-first);
}

.contact-info-header:hover .contact-info-header-link {
  color: var(--brand-color-first);
}

.contact-info-header:focus .contact-info-header-link {
  color: var(--brand-color-first);
}

/* Main section */

/* Main header */

.main-header-sec {
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main-header-background.jpg");
  width: 1600px;
  padding: 200px 0;
}
.main-header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text {
  color: var(--main-color-second);
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin-left: 252px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.header-button {
  color: var(--main-color-second);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--brand-color-first);
  cursor: pointer;
  width: 200px;
  border-radius: 4px;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 500px;
  margin-top: 30px;
}

/* Modal window */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-form {
  position: absolute;
  width: 448px;
  min-height: 501px;
  padding: 40px 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.modal-form-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-first);
  width: 100%;
}

.modal-form-input-label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--brand-color-third);
  padding: 10px 0 4px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.modal-form-input-box {
  width: 100%;
  position: relative;
}

.modal-form-input-primary {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-primary:last-child {
  height: 120px;
}

.modal-form-input-primary:not(:last-child) {
  padding-left: 42px;
}

.modal-form-input-primary:hover,
.modal-form-input-primary:focus {
  border: 1px solid var(--brand-color-first);
}

.modal-form-input-icon {
  width: 18px;
  height: 18px;
  fill: var(--main-color-first);
  z-index: 5;
  position: absolute;
  top: 11px;
  left: 12px;
}

.modal-form-input-primary::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form textarea {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.modal-form-input-box:focus-within svg {
  fill: var(--brand-color-first);
}

.modal-form-input-box:focus-within input {
  outline: var(--brand-color-first);
}

.modal-form-input-box:focus-within textarea {
  outline: var(--brand-color-first);
}

/* checkbox */

.modal-form-checkbox {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 25px 0;
}

.modal-form-checkbox-input {
  appearance: none;
}

.modal-form-checkbox-icon:first-child {
  width: 16px;
  height: 15px;
  fill: var(--main-color-first);
}

.modal-form-checkbox-icon:last-child {
  width: 16px;
  height: 15px;
  fill: none;
}

.modal-form-checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-third);
}

.modal-form-checkbox-label {
  cursor: pointer;
  display: flex;
}

.modal-form-checkbox-label span:first-child {
  position: relative;
  padding-right: 5px;
  width: 16px;
  height: 15px;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 300ms;
}

.modal-form-checkbox-label span:first-child > svg:first-child {
  position: absolute;
  fill: var(--main-color-first);
}

.modal-form-checkbox-label span:first-child > svg:last-child {
  position: absolute;
  opacity: 0;
}

.modal-form-checkbox-label span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.modal-form-checkbox-label:hover span:first-child > svg {
  fill: var(--brand-color-first);
}

.modal-form-checkbox-input:checked
  + .modal-form-checkbox-label
  span:first-child
  > svg:first-child {
  fill: none;
}

.modal-form-checkbox-input:checked
  + .modal-form-checkbox-label
  span:first-child
  > svg:last-child {
  opacity: 100%;
}

.modal-form-checkbox-link {
  text-decoration: none;
  color: var(--brand-color-first);
  text-decoration: underline;
}

/* modal button */

.modal-form-button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: var(--brand-color-first);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  justify-content: center;
}

.modal-form-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;

  letter-spacing: 0.06em;

  color: #ffffff;
}

/* Lorem list section */

.lorem-list-item {
  width: 270px;
  margin-left: 15px;
  margin-right: 15px;
}

.lorem-list-header {
  font-weight: 700;
  font-size: 14px;
  padding: 30px 0 10px 0;
}

.lorem-list-text {
  color: var(--brand-color-third);
  font-size: 14px;
  line-height: 1.71;
}

.lorem-list-icon {
  padding: 25px 100px;
  height: 70px;
  width: 70px;
  background-color: var(--brand-color-fourth);
}

/* Occupation section */

.occupation-header {
  font-weight: 700;
  font-size: 36px;
}

.occupation-list-item {
  width: 370px;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

.occupation-list-item .occupation-list-item-label {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Employees section */

.employees-section {
  background-color: var(--brand-color-fourth);
}

.employees-header {
  font-weight: 700;
  font-size: 36px;
}

.employees-list {
  width: 270px;
  margin-left: 15px;
  margin-right: 15px;
}

.employees-list-item {
  background-color: #ffffff;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin: 0;
}

.employee-description {
  display: flex;
  padding: 30px 0;
  margin: 0;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.employee-position {
  color: var(--brand-color-third);
  font-size: 16px;
  padding: 10px 0 16px 0;
  margin: 0;
}

.employee-picture {
  height: 260px;
  width: 270px;
}

.employee-picture > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.employee-social-media {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.employee-social-media-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: space-evenly;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-social-media-link:hover {
  background-color: var(--brand-color-first);
}

.employee-social-media-link:hover > svg {
  fill: #ffffff;
}

.employee-social-media-icon {
  width: 20px;
  height: 20px;
  fill: var(--brand-color-seventh);
}

/* Our clients section */

.our-clients-header {
  font-weight: 700;
  font-size: 36px;
}

.our-clients-list {
  display: flex;
  justify-content: space-evenly;
}

.our-clients-icon {
  width: 106px;
  height: 60px;
}

.our-clients-list-item {
  display: flex;
  border: 1px solid var(--brand-color-seventh);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-list-item:hover {
  border: 1px solid var(--brand-color-first);
}

.our-clients-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-link > svg {
  fill: var(--brand-color-seventh);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-link:hover > svg {
  fill: var(--brand-color-first);
}

.our-clients-link:focus > svg {
  fill: var(--brand-color-first);
}

/* Footer section */

.footer .section {
  background-color: var(--brand-color-second);
  padding: 0;
}

.footer-section {
  display: flex;
  background-color: var(--brand-color-second);
  text-align: left;
}

.website-logo-footer {
  padding: 60px 0 25px 15px;
}

.website-logo-footer-link {
  font-family: "Raleway", sans-serif;
  color: var(--main-color-second);
  text-decoration: none;
}

.website-logo-highlight {
  color: var(--brand-color-first);
}

.footer-info {
  padding-top: 20px;
}

.studio-address {
  color: var(--main-color-second);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.contact-info-footer {
  color: var(--brand-color-sixth);

  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info-footer:hover,
.contact-info-footer:focus {
  color: var(--brand-color-first);
}

.footer-socials {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding: 72px 78px 0 70px;
}

.footer-social-media {
  display: flex;
  justify-content: space-between;
  width: 206px;
  padding-top: 20px;
}

.footer-social-media-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  background-color: var(--brand-color-eighth);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-link:hover {
  background-color: var(--brand-color-first);
}

.footer-social-media-link:hover > svg {
  fill: #ffffff;
}

.footer-social-media-link:focus {
  background-color: var(--brand-color-first);
}

.footer-social-media-link:focus > svg {
  fill: #ffffff;
}

.footer-social-media-icon {
  width: 20px;
  height: 20px;
  fill: var(--brand-color-seventh);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-newsletter-form {
  display: flex;
  padding-top: 72px;
}

.footer-newsletter-form-label {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-newsletter-form-input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  background-color: var(--brand-color-second);
}

.footer-newsletter-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-newsletter-form-box {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.footer-newsletter-form-button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: var(--brand-color-first);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 0;
}

.footer-newsletter-form-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-left: 42px;
}

.footer-newsletter-form-button-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  padding-left: 24px;
}

/* Portfolio.html */

.filter-button {
  color: var(--main-color-first);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--brand-color-fourth);
  border: 0;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover {
  color: var(--main-color-second);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--brand-color-first);
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:focus {
  color: var(--main-color-second);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--brand-color-first);
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

p {
  padding: 0;
  margin: 0;
}

.portfolio-item {
  width: 370px;
  margin: 0;
  padding: 15px;
}

.portfolio-item-box {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
  margin: 0;
  padding: 0;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-image {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.portfolio-item-box-overlay {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px 0 24px;
  background-color: var(--brand-color-first);
  height: 100%;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  transform: translateY(0%);
}

.portfolio-item-box:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-box:hover .portfolio-item-box-overlay {
  transform: translateY(-100%);
}

.portfolio-item-description {
  padding: 20px 24px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.project-filter-name {
  color: var(--brand-color-third);
  font-size: 16px;
  line-height: 1.88;
}
