$MainColorFirst: #212121;
$MainColorSecond: #ffffff;
$MainColorThird: #000000;
$BrandColorFirst: #2196f3;
$BrandColorSecond: #2f303a;
$BrandColorThird: #757575;
$BrandColorFourth: #f5f4fa;
$BrandColorFifth: rgba(255, 255, 255, 0.6);
$BrandColorSixth: #afb1b8;
$BrandColorSeventh: rgba(255, 255, 255, 0.1);
$BrandColorEighth: #ececec;
$BrandColorNinth: rgba(0, 0, 0, 0.2);
$BrandColorTenth: #eeeeee;

$BrandTransitionPrimary: cubic-bezier(0.4, 0, 0.2, 1);
